Windows Registry Editor Version 5.00

{{- if eq .User "root" }}
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Run]
{{- else }}
[HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run]
{{- end }}
"{{ .App }}"="{{ .InstallPath }}"
